<label class="control-label col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">{{name}}</label>
<div class="input-group col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
    <input type="text" class="form-control text-center js-value" value="{{value}}"></input>
    <span class="input-group-btn">
        <button class="btn btn-primary js-save" type="button">{{lang.set}}</button>
    </span>
</div>
<br/>
