<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <ul class="nav nav-tabs nav-justified">
        <li class="js-installed"><a href="/">{{lang.installed}}</a></li>
        <li class="js-available"><a href="/">{{lang.available}}</a></li>
    </ul>

    <div class="js-devices"></div>
</div>
