<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand js-nav" href="/">{{name}}</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="js-li"><a href="/" class="js-nav">Status</a></li>
                <li class="js-li"><a href="/chart" class="js-nav">Chart</a></li>
                <li class="js-li"><a href="/settings" class="js-nav">Settings</a></li>
                <li class="js-li"><a href="/devices" class="js-nav">Devices</a></li>
                <!--
                not ready yet
                <li class="js-li"><a href="/profiles" class="js-nav">Profiles</a></li>
                -->
                <li class="js-li"><a href="/advanced" class="js-nav">Advanced</a></li>
                <li class="js-li"><a href="/algorithm" class="js-nav">Algorithm</a></li>
                <li class="js-li"><a href="/arduino" class="js-nav">Arduino</a></li>
            </ul>
        </div>
    </div>
</nav>
