<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <div class="list-group js-profiles"></div>

    <div class="text-center">
        <a href="/new-profile" class="btn btn-primary js-new-profile">{{lang.new_profile}}</a>
    </div>
</div>
